#header .blockcart.cart-preview .dropdown .dropdown-menu {
    padding: 10px 15px;
    top: 30px !important;
    width: 260px !important;
    min-width: 260px !important;
    right: -0.85rem;
    left: inherit !important;
    box-shadow: 0 7px 22px -5px rgba(47,56,68,0.2);
}
#header .blockcart.cart-preview .dropdown-toggle {
    background: none;
    border: none;
}
#header .blockcart.cart-preview .dropdown-product-item {
    display: table;
    position: relative;
    width: 100%;
    padding: 9px 0;
    border-top: 1px dashed #d8e0e6
}
#header .blockcart.cart-preview .dropdown-product-item:first-child {
    border-top: 0
}
#header .blockcart.cart-preview .dropdown-product-item>.dropdown-product-thumb, .dropdown-product-item>.dropdown-product-info {
    display: table-cell;
    vertical-align: top
}
#header .blockcart.cart-preview .dropdown-product-item>.dropdown-product-thumb {
    width: 55px;
    border-radius: 50%;
    overflow: hidden
}
#header .blockcart.cart-preview .dropdown-product-item>.dropdown-product-thumb>img {
    display: block;
    width: 100%
}
#header .blockcart.cart-preview .dropdown-product-item > .dropdown-product-remove {
    display: block;
    position: absolute;
    top: 9px;
    right: -10px;
    font-size: 13px;
    line-height: 1;
    cursor: pointer;
}
#header .blockcart.cart-preview .dropdown-product-item > .dropdown-product-remove i {
    color: #ff5252 !important;
}
#header .blockcart.cart-preview .dropdown-product-item>.dropdown-product-info {
    padding-right: 15px;
    padding-left: 12px
}
#header .blockcart.cart-preview .dropdown-product-item .dropdown-product-title {
    display: block;
    padding-top: 2px;
    transition: color .3s;
    color: #373a3c !important;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none
}
#header .blockcart.cart-preview .dropdown-product-item .dropdown-product-title:hover {
    color: #0da9ef
}
#header .blockcart.cart-preview .dropdown-product-item .dropdown-product-details {
    color: #9da9b9;
    font-size: 14px
}
#header .blockcart.cart-preview .blockcart {
    background: #f1f1f1;
    height: 3rem;
    padding: .75rem;
    margin-left: .9375rem;
    text-align: center;
    white-space: nowrap;
}
#header .blockcart.cart-preview .toolbar-dropdown-group {
    display: table;
    width: 100%;
    padding: 9px 0;
    border-top: 1px solid #e1e7ec;
    border-bottom: 1px solid #e1e7ec;
    font-size: 14px;
}
#header .blockcart.cart-preview .toolbar-dropdown-group div {
    padding-bottom: 2px
}
#header .blockcart.cart-preview .text-right {
    text-align: right;
}
#header .blockcart.cart-preview .btn-checkout, #header .blockcart.cart-preview .btn-view {
    display: block;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 36px;
    padding: 0 18px;
    padding-right: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 18px;
    font-size: 17px;
    line-height: 34px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: all .4s;
    text-align: center;
}
#header .blockcart.cart-preview .btn-view {
    background-color: #f5f5f5;
    border-color: #e1e7ec;
    color: #606975 !important;
}
#header .blockcart.cart-preview .btn-view:hover {
    background-color: #cbcbcb !important
}